//Button Positioning
.button {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

//Button Styling
.button__btn {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  width: 20rem;
  height: 4rem;
  background-color: rgba(66, 3, 84, 0.715);
  border: 0.5rem solid rgb(79, 79, 79);
  text-transform: uppercase;
  border-radius: 2rem;
  transform-style: preserve-3d;
  transition: 0.3s ease-out;

  &::after {
    top: -100%;
    left: 0px;
    width: 100%;
    position: absolute;
    background: #b56503;
    border: 0.5rem solid rgb(79, 79, 79);
    border-radius: 2rem;
    content: "Color Is...";
    transform-origin: left bottom;
    transform: rotateX(90deg);
  }

  &:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
    transition: 0.3s ease-in;
  }
}
